<h1>Listing entries</h1>

<table>
  <tr>
    <th>Playa</th>
    <th>White card</th>
    <th>Black card</th>
    <th>Wins</th>
    <th>Draws</th>
    <th>Losses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.playa_id %></td>
    <td><%= entry.white_card_id %></td>
    <td><%= entry.black_card_id %></td>
    <td><%= entry.wins %></td>
    <td><%= entry.draws %></td>
    <td><%= entry.losses %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
