<p id="notice"><%= notice %></p>

<p>
  <b>Playa:</b>
  <%= @entry.playa_id %>
</p>

<p>
  <b>White card:</b>
  <%= @entry.white_card_id %>
</p>

<p>
  <b>Black card:</b>
  <%= @entry.black_card_id %>
</p>

<p>
  <b>Wins:</b>
  <%= @entry.wins %>
</p>

<p>
  <b>Draws:</b>
  <%= @entry.draws %>
</p>

<p>
  <b>Losses:</b>
  <%= @entry.losses %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
