<%= form_for(@playa) do |f| %>
  <% if @playa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playa.errors.count, "error") %> prohibited this playa from being saved:</h2>

      <ul>
      <% @playa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :bling %><br />
    <%= f.text_field :bling %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
